<% content_for :title, "課題管理" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 dark:bg-green-900 mb-5 text-green-500 dark:text-green-400 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-3xl">課題管理</h1>
    <div class="flex gap-2">
      <%= link_to "新規作成", new_kadaikanri_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 dark:bg-blue-700 dark:hover:bg-blue-600 text-white block font-medium" if authenticated? %>
      <% if params[:q] %>
        <%= link_to "Excel出力", kadaikanris_export_xlsx_path(q: params.require(:q).permit(:reporter_or_location_or_content_or_plan_or_status_name_cont)), class: "rounded-md px-3.5 py-2.5 bg-green-600 hover:bg-green-500 dark:bg-green-700 dark:hover:bg-green-600 text-white block font-medium" if authenticated? %>
      <% else %>
        <%= link_to "Excel出力", kadaikanris_export_xlsx_path, class: "rounded-md px-3.5 py-2.5 bg-green-600 hover:bg-green-500 dark:bg-green-700 dark:hover:bg-green-600 text-white block font-medium" if authenticated? %>
      <% end %>
    </div>
  </div>

  <div class="pt-4 px-2 flex justify-between items-center">
    <div>
      <%= search_form_for @q, class: "flex items-center gap-2" do |f| %>
        <%= f.search_field :reporter_or_location_or_content_or_plan_or_status_name_cont, placeholder: "フリーワード検索", class: "rounded-md border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-100" %>
        <%= f.submit "検索", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 dark:bg-blue-700 dark:hover:bg-blue-600 text-white font-medium cursor-pointer" %>
      <% end %>
    </div>
    <div>
      <%== @pagy.limit_tag_js %>
    </div>
  </div>


  <div class="mt-1 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg: -mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
	<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
	  <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
	    <thead class="bg-gray-50 dark:bg-gray-800">
	      <tr>
		<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-200 sm:pl-6 w-21"><%= sort_link(@q, :no, "番号") %></th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200"><%= sort_link(@q, :entrydate, "登録日") %></th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200"><%= sort_link(@q, :updated_at, "更新日") %></th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200"><%= sort_link(@q, :reporter, "報告者") %></th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200 w-32"><%= sort_link(@q, :location, "場所") %></th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">内容</th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">対応方針</th>
		<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200"><%= sort_link(@q, :status_name, "状態") %></th>
		<th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
		  <span class="sr-only">操作</span>
		</th>
	      </tr>
	    </thead>
	    <tbody id="kadaikanris" class="divide-y divide-gray-200 dark:divide-gray-700 bg-white dark:bg-gray-900">
	      <% if @kadaikanris.any? %>
                <%= render @kadaikanris %>
	      <% else %>
	        <tr>
		  <td colspan="8" class="text-center py-10">
		    <p>課題管理は見つかりませんでした</p>
		  </td>
		</tr>
	      <% end %>
            </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="pt-2 mb-6 flex">
      <%# Render navigation bar helpers with various types and styles %>
      <%== @pagy.series_nav %>
      <div class="pl-2"><%== @pagy.info_tag %></div>
    </div>

    <% if params[:q] %>
      <% if params[:page] %>
        <div><%= link_to 'print', kadaikanris_path(q: params.require(:q).permit(:reporter_or_location_or_content_or_plan_or_status_name_cont), page: params[:page], limit: params[:limit], format: 'pdf') %></div>
      <% else %>
        <div><%= link_to 'print', kadaikanris_path(q: params.require(:q).permit(:reporter_or_location_or_content_or_plan_or_status_name_cont), format: 'pdf') %></div>
      <% end %>
    <% else %>
      <% if params[:page] %>
        <div><%= link_to 'print', kadaikanris_path(page: params[:page], limit: params[:limit], format: 'pdf') %></div>
      <% else %>
        <div><%= link_to 'print', kadaikanris_path(format: 'pdf') %></div>
      <% end %>
    <% end %>
  </div>
</div>
