<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Problem8" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%== javascript_include_tag "pagy" %>
    <header class="bg-gray-800 text-white">
      <nav class="container mx-auto flex items-center justify-between px-5 py-4">
        <%= link_to "課題管理", root_path, class: "text-xl font-bold" %>
        <div class="flex items-center space-x-4">
          <% if authenticated? %>
            <%= button_to "ログアウト", session_path, method: :delete, class: "bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
          <% else %>
            <%= link_to "ログイン", new_session_path, class: "hover:text-gray-300" %>
          <% end %>
        </div>
      </nav>
    </header>
    
    <main class="container mx-auto mt-7 px-5 flex">
      <%= yield %>
    </main>
    <script>
      window.addEventListener("load", Pagy.init);
    </script>
  </body>
</html>
